on:
  push:
    tags:
      - '*'

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: build&deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy files to Server
        uses: wlixcc/SFTP-Deploy-Action@v1.2.6
        with:
          username: 'deploy'
          server: ${{ secrets.SERVER_IP }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          local_path: './dist/*'
          remote_path: '/var/www/marc.it'
          sftpArgs: '-o ConnectTimeout=5'
